<div class="registration-container">
  <p-card header="Registro de Usuario" subheader="Completa los siguientes campos para crear tu cuenta">
    <form class="registration-form" [formGroup]="form">

      <div class="d-flex gap-2">
        <div class="field">
          <label for="nombre">Nombre *</label>
          <input
            pInputText
            id="nombre"
            name="nombre"
            formControlName="nombre"
            placeholder="Ingresa tu nombre"
            class="w-full"/>
        </div>

        <div class="field">
          <label for="apellido">Apellido *</label>
          <input
            pInputText
            id="apellido"
            name="apellido"
            formControlName="apellido"
            placeholder="Ingresa tu apellido"
            class="w-full"/>
        </div>
      </div>

      <div class="field">
        <label for="email">Email *</label>
        <input
          pInputText
          id="email"
          name="email"
          formControlName="email"
          type="email"
          placeholder="ejemplo@correo.com"
          class="w-full"/>
      </div>

      <div class="field">
        <label for="contrasena">Contraseña *</label>
        <input
          pInputText
          id="contrasena"
          name="contrasena"
          formControlName="contrasena"
          type="password"
          placeholder="Ingresa tu contraseña"
          class="w-full"/>
        @if (form.get("cContrasena")?.hasError("mismatch")) {
          <p class="text-danger">Las contraseñas deben ser iguales</p>
        }
        @if(form.get('contrasena')?.errors?.['minlength']) {
          <p class="text-danger">La contraseña debe tener al menos 6 carácteres.</p>
        }
      </div>

      <div class="field">
        <label for="contrasena">Confirmar Contraseña *</label>
        <input
          pInputText
          id="cContrasena"
          name="cContrasena"
          formControlName="cContrasena"
          type="password"
          placeholder="Ingresa tu contraseña"
          class="w-full"/>
        @if (form.get("cContrasena")?.hasError("mismatch")) {
          <p class="text-danger">Las contraseñas deben ser iguales</p>
        }
      </div>

      <div class="field">
        <label for="direccion">Dirección</label>
        <input
          pInputText
          id="direccion"
          name="direccion"
          formControlName="direccion"
          placeholder="Ingresa tu dirección (opcional)"
          class="w-full"/>
      </div>


      @if (mensajeError ?? false) {
        <div class="field">
          <p-message severity="error" class="col-12">{{ mensajeError }}</p-message>
        </div>
      }

      @if (exito) {
        <div class="field">
          <p-message severity="success" class="col-12">Iniciaste sesión correctamente. Redirigiendo...</p-message>
        </div>
      }

      @if (this.enviando) {
        <p-button label="Enviando..." fluid disabled></p-button>
      } @else {
        <p-button label="Registrarme" fluid (onClick)="register()"></p-button>
      }


      <p class="text-center mt-3 text-sm text-gray-600">
        Los campos marcados con * son obligatorios
      </p>

    </form>
  </p-card>
</div>
