<main class="d-flex justify-content-center align-items-center vh-100 bg-dark">
    <p-card
            header="Confirma tu cuenta"
            subheader="Te hemos enviado un correo electrónico con un enlace para confirmar tu cuenta.
                    Por favor, revisa tu bandeja de entrada o la carpeta de spam."
            class="col-11 col-sm-8 col-md-5 col-lg-4 col-xl-3"
    >
        <div class="d-flex flex-column gap-3 pt-2">
            @if (!exito && mensajeError) {
                <div class="field">
                    <p-message severity="error" class="col-12">{{ mensajeError }}</p-message>
                </div>
            }

            @if (exito) {
                @if (mensaje) {
                    <div class="field">
                        <p-message severity="success" class="col-12">
                            {{ mensaje }}
                        </p-message>
                    </div>
                }
            }

            <p-button
                    type="submit"
                    label="Reenviar correo de confirmación"
                    fluid
                    [raised]="true"
                    severity="info"
                    loadingIcon="pi pi-spinner pi-spin"
                    (onClick)="reenviarCorreo()"
            />
        </div>


    </p-card>
</main>
