<p-dialog
  header="{{ esModoEdicion() ? 'Editar producto' : 'Agregar producto' }}"
  [visible]="displayDialog()"
  (visibleChange)="manejarModal($event)"
  [closable]="true"
  [closeOnEscape]="true"
  [modal]="true"
  [style]="{ width: '500px' }"
>
  <form [formGroup]="form">

    <div class="form-group mb-2">
      <label>Nombre</label>
      <input type="text"
             class="form-control"
             formControlName="nombre"
             name="nombre"
             required/>
    </div>

    <div class="form-group mb-2">
      <label>Descripción</label>
      <textarea class="form-control"
                formControlName="descripcion"
                name="descripcion"
                required></textarea>
    </div>

    <div class="form-group mb-2">
      <label>Clasificación</label>
      <select class="form-control" formControlName="clasificacion" required>
        <option *ngFor="let c of clasificaciones" [ngValue]="c.id">{{ c.nombre}} </option>
      </select>
    </div>

    <div class="form-group mb-2">
      <label>Precio</label>
      <input type="number"
             class="form-control"
             formControlName="precio"
             name="precio"
             required/>
    </div>

    @if (this.productoActual()) {
    @if (this.productoActual()?.imagen) {
    <div class="form-group mb-2">
      <div class="col-12 d-flex justify-content-between">
        <label>Imagen</label>
        <button class="btn btn-danger" (click)="quitarImagen()">Quitar</button>
      </div>

      <img class="col-12 pt-2" [src]="this.productoActual()?.imagen" [alt]="this.productoActual()?.nombre" />
    </div>
    } @else {
    <div class="form-group mb-2">
      <label>Imagen</label>
      <input type="file" (change)="onFileChange($event)" />
    </div>
    }
    } @else {
    <div class="form-group mb-2">
      <label>Imagen</label>
      <input type="file" (change)="onFileChange($event)" />
    </div>
    }

    <div class="text-end mt-3">
      <button class="btn btn-secondary me-2" type="button" (click)="manejarModal(false)">Cancelar</button>
      <!-- Also closes the modal -->
      <button class="btn btn-primary" type="submit" (click)="enviarProducto()">{{ esModoEdicion() ? 'Guardar cambios' :
        'Agregar' }}
      </button>
    </div>
  </form>
</p-dialog>