<div class="my-3 border-bottom pb-2 flex justify-between items-center">
  <div>
    <h4 class="mb-1">{{ item.nombre }}</h4>
    <small>Cantidad: {{ item.cantidad }}</small><br />
    <small>Precio: ${{ item.precio }}</small>
  </div>
  <div>
    <button pButton icon="pi pi-minus" (click)="restar()" class="p-button-text p-button-sm"></button>
    <button pButton icon="pi pi-plus" (click)="sumar()" class="p-button-text p-button-sm"></button>
    <button pButton icon="pi pi-trash" (click)="quitar()" class="p-button-text p-button-danger p-button-sm"></button>
  </div>
</div>
