<main class="styledMain bg-principal">
  <section class="col-8 mx-auto pt-4 d-flex flex-column">
    <h3 class="text-secundario pb-2">Dashboard</h3>
      <div class="d-grid wrapper-estadistica">
        @for (estadistica of this.estadisticas(); track estadistica.titulo) {
          <app-estadistica
          [badge]="estadistica.badge"
          [titulo]="estadistica.titulo"
          [valor]="estadistica.valor"
          [claseColor]="estadistica.claseColor"
          />
        }
      </div>
  </section>
</main>
<footer>Template admin footer</footer>
