<footer class="footer-ecommerce">
  <div class="footer-content col-10 mx-auto">
    <!-- Proyecto -->
    <div class="footer-info">
      <h5 class="footer-title">Admin - E-Commerce | Taller Web II</h5>
    </div>

    <!-- Enlaces -->
    <div class="footer-links">
      <h6 class="footer-subtitle">Enlaces rápidos</h6>
      <ul class="list-unstyled d-flex flex-column gap-2">
        <li><a routerLink="/" class="footer-link">Inicio</a></li>
        <li><a routerLink="/productos" class="footer-link">Productos</a></li>
        <li><a routerLink="/cuenta/login" class="footer-link">Usuarios</a></li>
        <li><a routerLink="/cuenta/register" class="footer-link">Pedidos</a></li>
        <li><a class="footer-link">Cerrar sesión</a></li>
      </ul>
    </div>

    <div class="footer-info">
      <h6 class="footer-subtitle">Alumnos</h6>
      <ul class="list-unstyled d-flex flex-column gap-2">
        <p class="footer-line">Jimena Rocío Gomez Wusinowski</p>
        <p class="footer-line">Federico Alvarez</p>
        <p class="footer-line">Martin Zaccardo</p>
        <p class="footer-line">Gonzalo Ramos</p>
      </ul>

    </div>

  </div>

  <div class="footer-bottom">
    &copy; 2025 UNLaM | Todos los derechos reservados.
  </div>
</footer>
