<h2 class="text-white m-0 col-10 mx-auto py-3">Productos disponibles</h2>

<div class="layout-productos col-10 mx-auto">

  <aside class="sidebar-filtros">
    <section class="filtros-clasificacion">
      <h3>Filtrar por clasificación</h3>

      <div class="filtros-botones">
        <button (click)="filtrarPorClasificacion('')" [class.activo]="!clasificacionSeleccionada">Todos</button>
        <button (click)="filtrarPorClasificacion('bebidas')"
                [class.activo]="clasificacionSeleccionada === 'bebidas'">Bebidas
        </button>
        <button (click)="filtrarPorClasificacion('limpieza')"
                [class.activo]="clasificacionSeleccionada === 'limpieza'">Limpieza
        </button>
        <button (click)="filtrarPorClasificacion('almacén')"
                [class.activo]="clasificacionSeleccionada === 'almacén'">Almacén
        </button>
      </div>
    </section>

    <section class="filtros-precio">
      <h3 class="m-0">Filtrar por precio</h3>

      <div class="filtro">
        <label>Precio mínimo</label>
        <input type="number" [(ngModel)]="precioMin"/>
      </div>

      <div class="filtro">
        <label>Precio máximo</label>
        <input type="number" [(ngModel)]="precioMax"/>
      </div>

      <button (click)="aplicarFiltroPrecio()">Aplicar precio</button>

      <p *ngIf="errorPrecio" class="error">{{ errorPrecio }}</p>
    </section>
    <div class="filtros-precio">
      <button (click)="limpiarFiltro()">Borrar filtros</button>
    </div>
  </aside>

  <main class="productos-listado">


    <div class="productos-grid">

      @defer (when productos.length > 0) {
        @for (producto of productos; track producto.id) {
          <div class="col">
            <!-- Envolvemos todo con un enlace -->
            <a
              [routerLink]="['/producto', producto.id]"
              class="text-decoration-none text-white"
            >
              <p-card
                class="h-100 shadow border-0 text-white d-flex flex-column overflow-hidden position-relative"
              >
                <ng-template pTemplate="header">
                  <div
                    class="bg-secondary d-flex align-items-center justify-content-center"
                    style="height: 200px;"
                  >
                    <img
                      *ngIf="producto.imagen; else sinImagen"
                      [src]="producto.imagen"
                      alt="{{ producto.nombre }}"
                      class="img-fluid w-100 h-100 object-fit-contain"
                    />
                    <ng-template #sinImagen>
                      <span class="text-white">Imagen del producto</span>
                    </ng-template>
                  </div>
                </ng-template>

                <div class="card-body flex-grow-1 d-flex flex-column justify-content-between">
                  <div>
                    <h5 class="card-title text-white">{{ producto.nombre }}</h5>
                    <span class="badge bg-secundario mb-3">{{ producto.clasificacion }}</span>
                  </div>

                  <p class="h5 text-success mt-auto text-secundario">
                    {{ producto.precio.toString() | currency: 'ARS' }}
                  </p>
                </div>

                <!-- Botón por fuera del link visualmente, pero posicionado adentro -->
                <div class="pt-0 bg-transparent position-relative z-1">
                  <button
                    class="col-12 btn-primario"
                    (click)="$event.stopPropagation(); $event.preventDefault();"
                  >
                    Agregar al carrito
                  </button>
                </div>
              </p-card>
            </a>
          </div>
        }

      } @placeholder {
        @for (n of [1, 2, 3, 4, 5 , 6, 7]; track n) {
          <p-card class="h-100 shadow border-0 text-white d-flex flex-column overflow-hidden">
            <p-skeleton width="100%" height="11rem" styleClass="mb-2"/>
            <p-skeleton width="100%" height="1.5rem" styleClass="mb-2 mt-4"/>
            <p-skeleton width="5rem" styleClass="mb-2 mt-1"/>
            <p-skeleton width="10rem" height="1.5rem" styleClass="mb-2 mt-3"/>
            <p-skeleton width="100%" height="2.5rem"/>
          </p-card>
        }
      }
    </div>
  </main>
</div>
