<main class="login-wrapper d-flex justify-content-center align-items-center vh-100 bg-dark">
  <div class="bg-light p-4 shadow-lg rounded col-12 col-sm-8 col-md-6 col-lg-5 col-xl-3">
    <h2 class="text-center mb-4">Iniciar sesión</h2>

    <form [formGroup]="form" class="col-12 d-flex flex-column gap-3 p-0">
      <div class="form-group mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="text" pInputText id="email" formControlName="email" class="form-control" />
        @if (form.get("email")?.hasError("required") && form.get("email")?.touched) {
          <p class="text-danger mt-1">Este campo es requerido</p>
        }
        @if (form.get("email")?.hasError("email") && form.get("email")?.touched) {
          <p class="text-danger mt-1">Por favor, ingresa un correo válido</p>
        }
      </div>

      <div class="form-group mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" pInputText formControlName="password" class="form-control" />
        @if (form.get("password")?.hasError("required") && form.get("password")?.touched) {
          <p class="text-danger mt-1">Este campo es requerido</p>
        }
      </div>

      @if(exito) {
        <div class="alert alert-success text-center" role="alert">
          Iniciaste sesión correctamente. Redirigiendo...
        </div>
      }

      @if (mensajeError) {
        <div class="alert alert-danger text-center mt-3" role="alert">
          {{ mensajeError }}
        </div>
      }

      <div class="d-grid gap-2 mt-3">
        @if (this.enviando) {
          <button type="button" class="btn btn-primary" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Enviando...
          </button>
        } @else {
          <button type="submit" class="btn btn-primary" (click)="login()" [disabled]="form.invalid">
            Iniciar sesión
          </button>
        }
      </div>

      <div class="text-center mt-3">
        <a [routerLink]="'/recuperar'" class="text-decoration-none text-primary fw-bold">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>
</main>
