<div class="styledMain bg-dark">
  <h2 class="text-white">Gestión de Productos</h2>

  <button class="btn btn-success mb-3" (click)="abrirAgregar()">
    Agregar producto
  </button>

  <p-table
    [value]="this.productoService.signalProductos()"
    size="small"
    stripedRows
    showGridlines
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Clasificación</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-producto>
      <tr>
        <td>
          <img
            [src]="producto.imagen"
            [alt]="producto.nombre"
            width="60"
            height="60"
            class="rounded"
            style="object-fit: cover;"
          />
        </td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.clasificacion }}</td>
        <td>{{ producto.precio.toString() | currency:'ARS' }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="abrirEditar(producto)">
            Editar
          </button>
          <button class="btn btn-sm btn-danger" (click)="eliminarProducto(producto.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    header="{{ esModoEdicion ? 'Editar producto' : 'Agregar producto' }}"
    [(visible)]="displayDialog"
    [modal]="true"
    [style]="{ width: '500px' }"
  >
    <form [formGroup]="form">
      <div class="form-group mb-2">
        <label>Nombre</label>
        <input type="text"
               class="form-control"
               formControlName="nombre"
               name="nombre"
               required/>
      </div>

      <div class="form-group mb-2">
        <label>Descripción</label>
        <textarea class="form-control"
                  formControlName="descripcion"
                  name="descripcion"
                  required></textarea>
      </div>

      <div class="form-group mb-2">
        <label>Clasificación</label>
        <input type="text"
               class="form-control"
               formControlName="clasificacion"
               name="clasificacion"
               required/>
      </div>

      <div class="form-group mb-2">
        <label>Precio</label>
        <input type="number"
               class="form-control"
               formControlName="precio"
               name="precio"
               required/>
      </div>

<!--      <div class="form-group mb-2">-->
<!--        <label>Imagen (URL)</label>-->
<!--        <input type="text" class="form-control" [(ngModel)]="productoActual.imagen" name="imagen"/>-->
<!--      </div>-->

      @if (this.productoActual) {
        @if (this.productoActual.imagen) {
          <div class="form-group mb-2">
            <div class="col-12 d-flex justify-content-between">
              <label>Imagen</label>
              <button class="btn btn-danger" (click)="quitarImagen()">Quitar</button>
            </div>

            <img
              class="col-12 pt-2"
              [src]="this.productoActual.imagen"
              [alt]="this.productoActual.nombre"
            />
          </div>
        } @else {
          <div class="form-group mb-2">
            <label>Imagen</label>
            <input type="file" (change)="onFileChange($event)"/>
          </div>
        }
      } @else {
        <div class="form-group mb-2">
          <label>Imagen</label>
          <input type="file" (change)="onFileChange($event)"/>
        </div>
      }



      <div class="text-end mt-3">
        <button class="btn btn-secondary me-2" type="button" (click)="displayDialog = false">Cancelar</button>
        <button class="btn btn-primary" type="submit" (click)="enviarProducto()">{{ esModoEdicion ? 'Guardar cambios' : 'Agregar' }}</button>
      </div>
    </form>
  </p-dialog>
</div>

